:root {
    --green: #20c997;
}

::selection {
    background: var(--green);
}

.bg-transparent {
    background-color: transparent;
}

.container-fluid-navbar {
    padding: 0 15px;
}


* {
    box-sizing: border-box;
    transition: .3s;
    /* overflow:hidden */
    list-style: none;
    margin: 0;
}

section {
    padding: 50px 0;
}

.shadowText {
    text-align: center
}

.shadowText h1 {
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;
    opacity: .2;
    font-weight: bold;

}

.shadowText .boldText {
    /* position: absolute;
    top:30%;
    left:37%; */
    text-align: center;
    transform: translateY(-110px);
}

.shadowText .boldText p {

    color: #000;
    font-size: 40px;
    text-align: center;
    opacity: 1;
    text-transform: capitalize;
    font-weight: bold;
}













/* =================================--------------------header-------------------================================= */

header {
    height: 100vh;
    overflow: hidden
}

header .slider {
    background-image: url("../images/main/intro-bg.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

header .slider .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #221f1fb0;

}

.navbar-light .navbar-nav .nav-link {
    color: rgba(250, 250, 250, 0.9);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--green)
}


.navbar-light .navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-left: 10px;
    transition: .5s;
}

header .slider .layer .content h1 {
    font-size: 5rem
}

header .slider .layer .content button {
    color: var(--green);
    border-color: var(--green);
    padding: .8rem 2rem;
    transition: .5s;
}

header .slider .layer .content button:hover {
    color: #fff;
    background-color: var(--green)
}

.switcher {
    position: absolute;
    top: 30%;
    /* right:-14.3%; */
    right: 0;
    padding: 25px;
}

.switcher h2 {
    color: #252b33;
    font-size: 1.5rem;
    padding-bottom: 15px;
    border-bottom: 1px solid #91808047;
}

.switcher .colors {
    padding: 15px 0;
}

.switcher .colors div {
    width: 17%;
    height: 25px;
    border-radius: 50%;
    margin-bottom: 15px;
    cursor: pointer;

}

.switcher button {
    background: var(--green);
    padding: .5rem 1rem;
    border: 0;
    margin: auto
}

.switcher .colors div:nth-child(1) {
    background: #6610f2;
}

.switcher .colors div:nth-child(2) {
    background: #007bff
}

.switcher .colors div:nth-child(3) {
    background: #6f42c1
}

.switcher .colors div:nth-child(4) {
    background: #17a2b8
}

.switcher .colors div:nth-child(5) {
    background: #dc3545
}

.switcher .colors div:nth-child(6) {
    background: #e83e8c;
}

.switcher .colors div:nth-child(7) {
    background: #28a745;
}

.switcher .colors div:nth-child(8) {
    background: #ffc107;
}

.switcher .colors div:nth-child(9) {
    background: #fd7e14;
}

.switcher .colors div:nth-child(10) {
    background: #795548;
}

.switcher .setting {
    position: absolute;
    right: 212px;
    top: 0px;
    background: #555;
    padding: 10px;
    cursor: pointer;
}

.switcher .setting i {
    font-size: 1.3rem;
}

/* =================================--------------------About-------------------================================= */
.about .data .puplic_data span {
    color: var(--green)
}

.about .data .puplic_data {
    width: 60%;
}

.about .data .puplic_data p {
    font-size: 1.1rem
}

.about .data .private_data {
    width: 30%;
}

.about .data .private_data p {
    font-weight: bold;
    text-transform: capitalize;
    color: #4c4d4d;
    font-size: 1rem;
    border-bottom: 1px solid #dbd9d9;
    padding: 13px 0;
    margin: 0;
}

.about .data .private_data :nth-child(4) {
    border: 0;
}

.about .data .private_data p span {
    font-weight: normal;
    font-size: 1.1rem;
}

.about .data .private_data :nth-child(2) span {
    color: var(--green)
}

.about .data .private_data button {
    background: var(--green);
    padding: .9rem 1.7rem
}

.about .statistics {
    margin-top: 6rem;
    display: flex;

}

.about .statistics div {
    border-right: 1px dotted #6c757d47;
    width: 25%;
}

.about .statistics :last-child {
    border: 0;
}

.about .statistics h2 {
    font-size: 3rem;
    color: #6c757d
}

.about .statistics p {
    font-size: 1.1rem;
    margin-top: 10px
}

/* =================================--------------------services-------------------================================= */
.services {
    background-color: #f8f9fa;

}

.services .experience {
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .experience .item {
    width: 45%;
    display: flex;
    align-items: start;
    margin-bottom: 15px;
    justify-content: space-between;

}

.services .experience .item .experience_icon {
    width: 10%;
}

.services .experience .item .title {
    width: 85%;
}

.services .experience div i {
    color: var(--green);
    padding: 20px;

}

.services .experience .item .title p {
    line-height: 1.8
}

/* =================================--------------------summary-------------------================================= */
.summary .myeducation {
    width: 48%;
}

.content {
    border: 1px solid #6c757d47;
    width: 100%;
    margin-bottom: 20px;
}

.summary .myeducation .content h6 {
    background: var(--green);
    padding: 5px 8px;
    display: inline-block;
}

.summary .myeducation .content span {
    color: red;
    padding-bottom: 10px
}

.summary .myeducation .content p {
    line-height: 1.7;
}

.progress {
    height: .5rem;

}

.progress-bar {
    background-color: var(--green)
}

.summary .myskills .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.summary .myskills .skills .myskill {
    width: 47%;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.summary .myskills .skills .myskill p {
    width: 50%;
    font-size: 1.1rem;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.summary .myskills .skills .myskill :nth-child(1) {
    width: 80%;
}

.summary .myskills .skills .myskill :nth-child(2) {
    width: 7%;
}

.summary .myskills .skills .myskill .progress {
    width: 100%;
}

.summary button {
    padding: .8rem 2rem;
    transition: .5s;
}

/* =================================--------------------portofolio-------------------================================= */
.portofolio {
    background-color: #f8f9fa;
}

.portofolio ul li {
    margin-left: 20px;
    padding-bottom: 5px;
    text-transform: capitalize;
    color: #7b8084;
    font-size: 1.1rem;

}

.portofolio ul :first-child {
    border-bottom: 3px solid var(--green)
}

.portofolio ul li:hover {
    cursor: pointer;
    color: var(--green)
}

.portofolio .projects .group {
    width: 32%;
}

.portofolio .projects .group img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 25px;
}

/* =================================--------------------testimonial-------------------================================= */
.testimonial .comments .opinion{
    width: 48%;
    background-color:#f8f9fa ;
    padding: 50px;
}
.testimonial .comments .opinion .data .profileImg{
    width: 10%;
}

.testimonial .comments .opinion .data  .text{
    width: 80%;
    
}
.testimonial .comments .opinion .data  .text p{
    margin-bottom: 3px;
}
.testimonial .comments .opinion .data  .text :last-child{
    font-size: 1rem;
    color:#6c757d;
}
.testimonial .comments .opinion .stars{
    color:gold
}



.carousel-indicators [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-left: 10px;
    transition: .3s;
    background-color: var(--green);
}

.carousel-indicators [data-bs-target]:hover {
    border: 5px solid #ccc;
}

.carousel-indicators {
    position: absolute;
    bottom: -25%
}


/* =================================--------------------contact-------------------================================= */
.contact{
    background-color: #f8f9fa;

}

.contact .dataContact .leftData {
    color:#4c4d4d;
    width: 15%;
}
.contact .dataContact .leftData i{
    color:var(--green);
    margin-right: 15px;
}
.contact .dataContact .rightData{
    width: 70%;
    color:#4c4d4d;
}
.contact .dataContact .rightData .inputFields div{
    width: 48%;
    margin-bottom: 25px;
}
textarea::placeholder{
   font-size:1.1rem;
}
.form-control:focus{
    box-shadow: none
}

.contact .dataContact .rightData .mybuttonInput button{
    background: var(--green);
    padding: .9rem 1.7rem;

}
/* =================================--------------------footer-------------------================================= */
.footer{
    color:#252b33
}
.footer span{
    color:var(--green)
}
.footer .contentFooter .footerLeft {
    width: 65%;
}
.footer .contentFooter ul {
    padding: 0;
    width: 25%;
    justify-content:space-around
}
.footer .contentFooter ul li{
    width: 50%;
    border-right:1px solid #ccc;
    padding: 0 25px
}
.footer .contentFooter ul :last-child{
    border:0;

}










@media(max-width:1400px) {
    .services .experience .item {
        justify-content: space-between;
    }

    .services .experience .item .experience_icon {
        width: 10%;
    }

    .services .experience .item .title {
        width: 85%;
    }
}

@media(max-width:1200px) {
    .services .experience .item {
        justify-content: space-between;
    }

    .services .experience .item .experience_icon {
        width: 10%;
    }

    .services .experience .item .title {
        width: 80%;
    }
    .contact .dataContact .leftData{
        width: 25%;
    }
    .testimonial .comments .opinion .data .profileImg{
        width: 20%;
    }
    
    .testimonial .comments .opinion .data  .text{
        width: 70%;
        
    }
}

@media(max-width:991px) {
    header .slider .layer .content h1 {
        font-size: 4.3rem
    }

    .shadowText h1 {
        font-size: 7rem
    }

    .shadowText .boldText {
        transform: translateY(-100px);
    }

    .shadowText .boldText p {
        font-size: 40px;
    }

    .about .data .puplic_data {
        width: 100%;
        text-align: center
    }

    .about .data .private_data {
        width: 100%;
    }

    .about .data {
        flex-direction: column;
    }

    .services .experience .item {
        justify-content: space-between;
    }

    .services .experience .item .experience_icon {
        width: 20%;
    }

    .services .experience .item .title {
        width: 70%;
    }
    .footer .contentFooter{
        flex-direction: column;
    }
    .footer .contentFooter .footerLeft{
        width: 100%;
        text-align: center
    }
    .footer .contentFooter ul{
        width: 100%;
        text-align: center;
        justify-content: space-around
    }
    .footer .contentFooter ul li{
        width: 80%;
    }
    .testimonial .comments .opinion .data .profileImg{
        width: 30%;
    }
    
    .testimonial .comments .opinion .data  .text{
        width: 60%;
        
    }

}

@media(max-width:982px) {
    .navbar-light .navbar-nav {
        background-color: #000000bf;
        margin-top: 20px;
        padding: 5px 20px;
    }

    .navbar-light .navbar-nav .nav-item {
        border-bottom: 1px solid #eeeeee30;
        padding: 5px 0;

    }

    .navbar-light .navbar-nav :last-child {
        border: none;
    }

    .navbar-light .navbar-nav .nav-item .nav-link {
        margin: 0;
    }
}
@media(max-width:768px) {
    header .slider .layer .content h1 {
        font-size: 3.9rem
    }
    

    .shadowText h1 {
        font-size: 5.6rem
    }

    .shadowText .boldText {
        transform: translateY(-80px);
    }

    .shadowText .boldText p {
        font-size: 35px;
    }

    .about .statistics {
        flex-wrap: wrap;
    }

    .about .statistics div {
        width: 50%;
        border: 0;
        padding-top: 20px;
        border-right: 1px dotted #6c757d47;
        border-bottom: 1px dotted #6c757d47;
    }

    .about .statistics :nth-child(2) {
        border-right: 0;
    }

    .about .statistics :nth-child(3) {
        border-bottom: 0;
    }

    .services .experience {
        flex-direction: column
    }

    .services .experience .item {
        width: 100%
    }

    .services .experience .item .title {
        width: 75%;
    }

    .summary .career {
        flex-direction: column
    }

    .summary .myeducation {
        width: 100%;
    }

    .content {
        border: 1px solid #6c757d47;
        width: 100%;
        margin-bottom: 20px;
    }

    .summary .myskills .skills {
        flex-direction: column;
    }

    .summary .myskills .skills .myskill {
        width: 100%;

    }
    .contact .dataContact{
        flex-direction: column;
    }
    .contact .dataContact .leftData{
        width: 100%;
        text-align: center;
        padding: 0px 110px;
        margin-top: 70px;
        order:5
    }
    
    .contact .dataContact .rightData{
        width: 100%;
    }
    .contact .dataContact .rightData .inputFields div{
        width: 100%;
    }
    .contact .dataContact .rightData h2{
        text-align: center
    }
    .allContent{
        flex-wrap: wrap;
        width: 100%;
    }
    .allContent .opinion{
        width: 100%;
    }
    .carousel-item{
        width: 100%;
    }
  
}

@media(max-width:576px) {

    

    header .slider .layer .content h1 {
        font-size: 3.2rem
    }

    .shadowText h1 {
        font-size: 4.4rem
    }

    .shadowText .boldText {
        transform: translateY(-70px);
    }

    .shadowText .boldText p {
        font-size: 30px;
    }

    .portofolio .projects {
        flex-direction: column;
    }

    .portofolio .projects .group {
        width: 100%;
    }

    .portofolio .projects .group img {
        width: 100%;

    }

}